test3.exe
Restore-Points
ConfigArchive
logs
ConfigBackup
Versions
tests/*.exe
restorepoint-v1.0.0.exe
settings.json
ConfigSync.exe
settings.json
main-old.cpp
plan-old.md
~.gitignore
.gitignore.swp
..gitinore.un~
ConfigSync-old.hpp
objects
PreRestoreBackups